{% for vl in vlans.vlan %}
vlan {{ vl.number }}
 name {{ vl.name }}
interface vlan {{ vl.number }}
 ip address {{ vl.svi }}
 no shut
 exit
{% endfor %}
{% for intf in vlans.interfaces %}
interface {{ intf.interface }}
{% if intf.mode == "access" %}
 switchport mode {{ intf.mode }}
 switchport access vlan {{ intf.vlan }}
{% else %}
 switchport trunk encapsulation dot1q
 switchport mode trunk
{% endif %}
{% endfor %}
